@font-face {
    font-family: inter;
    src: url(assets/fonts/static/Inter-Regular.ttf);
}
@font-face {
    font-family: intermed;
    src: url(assets/fonts/static/Inter-SemiBold.ttf);
}
@font-face {
    font-family: interbold;
    src: url(assets/fonts/static/Inter-Bold.ttf);
}
.attribution { font-size: 11px; text-align: center; color: white; }
.attribution a { color: hsl(228, 45%, 44%); }
body{
    background-color: hsl(0, 0%, 8%);
    font-family: intermed;
    display: block;
    margin: 0px;
    height: 960px;
    align-content: center;
    justify-items: center;
}
.container{
    background-color: hsl(0, 0%, 12%);
    border-radius: 10px;
    height: 600px;
    width: 20%;
    padding: 25px;
    display: block;
    justify-items: center;
    align-content: center;
    text-align: center;
    min-width: fit-content;
}
.foto{
    justify-items:center;
}
.foto img{
    width: 100px;
    border-radius: 100px;
}
.place{
    margin-top: 0px;
    margin-bottom: 35px;
    font-size: 14px;
    color: hsl(75, 94%, 57%);
}
.links{
    text-align: center;
}
.links p{
    font-size: 14px;
    /* border-radius: 10px; */
    margin: 15px 10px 15px 10px;
    width: 300px;
}
.links a{
    background-color: hsl(0, 0%, 20%);
    display: block;
    border-radius: 10px;
    width: 100%;
    padding: 10px 0px 10px 0px;
    text-decoration: none;
    color: white;
    transition: background-color 0.2s ease-in-out;
}
.links a:hover{
    color: black;
    background-color: hsl(75, 94%, 57%);
}
.info p{
    /* margin: 10px; */
}
span{
    color: white;
    font-size: 14px;
}
.name{
    margin-bottom: 15px;
    color: white;
    font-size: 22px;
}